
html {
  background-color: inherit;
}

.thumb-img {
  border-color: $black;
}

#loupeContainer div.background {
  background-color: $inherit;
}


header div.background {
  color: inherit;
}

.custom-colorable {
  fill: #A0A0A0;
}

body {
  background-color: $blue-black;
  color: #828282;
}
